build/bin
node_modules
frontend/dist
/.idea
/build/
/nul
/*.syso
/frontend/logs/
/frontend/coverage/lcov-report/scripts/index.html
/frontend/coverage/lcov-report/scripts/update-icons.cjs.html
/frontend/coverage/lcov-report/src/k8s/resources/configmaps/ConfigMapsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/configmaps/index.html
/frontend/coverage/lcov-report/src/k8s/resources/cronjobs/CronJobsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/cronjobs/index.html
/frontend/coverage/lcov-report/src/k8s/resources/daemonsets/DaemonSetsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/daemonsets/index.html
/frontend/coverage/lcov-report/src/k8s/resources/deployments/DeploymentsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/deployments/index.html
/frontend/coverage/lcov-report/src/k8s/resources/ingresses/index.html
/frontend/coverage/lcov-report/src/k8s/resources/ingresses/IngressesOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/jobs/index.html
/frontend/coverage/lcov-report/src/k8s/resources/jobs/JobsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/persistentvolumeclaims/index.html
/frontend/coverage/lcov-report/src/k8s/resources/persistentvolumeclaims/PersistentVolumeClaimsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/persistentvolumes/index.html
/frontend/coverage/lcov-report/src/k8s/resources/persistentvolumes/PersistentVolumesOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/index.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PodEventsTab.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PodMountsTab.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PodOverviewEntry.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PodOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PodSummaryTab.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PodYamlTab.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PortForwardDialog.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/pods/PortForwardOutput.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/replicasets/index.html
/frontend/coverage/lcov-report/src/k8s/resources/replicasets/ReplicaSetsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/secrets/index.html
/frontend/coverage/lcov-report/src/k8s/resources/secrets/SecretsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/statefulsets/index.html
/frontend/coverage/lcov-report/src/k8s/resources/statefulsets/StatefulSetsOverviewTable.jsx.html
/frontend/coverage/lcov-report/src/k8s/resources/index.html
/frontend/coverage/lcov-report/src/k8s/resources/kubeApi.js.html
/frontend/coverage/lcov-report/src/layout/bottompanel/BottomPanel.jsx.html
/frontend/coverage/lcov-report/src/layout/bottompanel/ConsoleTab.jsx.html
/frontend/coverage/lcov-report/src/layout/bottompanel/index.html
/frontend/coverage/lcov-report/src/layout/bottompanel/LogViewerTab.jsx.html
/frontend/coverage/lcov-report/src/layout/bottompanel/SummaryTabHeader.jsx.html
/frontend/coverage/lcov-report/src/layout/bottompanel/TerminalTab.jsx.html
/frontend/coverage/lcov-report/src/layout/bottompanel/YamlTab.jsx.html
/frontend/coverage/lcov-report/src/layout/connection/ConnectionWizard.jsx.html
/frontend/coverage/lcov-report/src/layout/connection/index.html
/frontend/coverage/lcov-report/src/layout/overview/index.html
/frontend/coverage/lcov-report/src/layout/overview/OverviewTableWithPanel.jsx.html
/frontend/coverage/lcov-report/src/layout/AppContainer.jsx.html
/frontend/coverage/lcov-report/src/layout/AppLayout.jsx.html
/frontend/coverage/lcov-report/src/layout/FooterBar.jsx.html
/frontend/coverage/lcov-report/src/layout/index.html
/frontend/coverage/lcov-report/src/layout/SidebarSections.jsx.html
/frontend/coverage/lcov-report/src/state/ClusterStateContext.jsx.html
/frontend/coverage/lcov-report/src/state/index.html
/frontend/coverage/lcov-report/src/state/ResourceCountsContext.jsx.html
/frontend/coverage/lcov-report/src/utils/index.html
/frontend/coverage/lcov-report/src/utils/persistence.js.html
/frontend/coverage/lcov-report/src/AppContainer.jsx.html
/frontend/coverage/lcov-report/src/CreateManifestOverlay.jsx.html
/frontend/coverage/lcov-report/src/Dropdowns.jsx.html
/frontend/coverage/lcov-report/src/index.html
/frontend/coverage/lcov-report/src/LabelsInline.jsx.html
/frontend/coverage/lcov-report/src/main.js.html
/frontend/coverage/lcov-report/src/main-content.js.html
/frontend/coverage/lcov-report/src/notification.js.html
/frontend/coverage/lcov-report/src/QuickInfoSection.jsx.html
/frontend/coverage/lcov-report/src/resource-overlay.js.html
/frontend/coverage/lcov-report/wailsjs/go/main/App.js.html
/frontend/coverage/lcov-report/wailsjs/go/main/index.html
/frontend/coverage/lcov-report/wailsjs/go/index.html
/frontend/coverage/lcov-report/wailsjs/go/models.ts.html
/frontend/coverage/lcov-report/wailsjs/runtime/index.html
/frontend/coverage/lcov-report/wailsjs/runtime/runtime.js.html
/frontend/coverage/lcov-report/base.css
/frontend/coverage/lcov-report/block-navigation.js
/frontend/coverage/lcov-report/favicon.png
/frontend/coverage/lcov-report/index.html
/frontend/coverage/lcov-report/prettify.css
/frontend/coverage/lcov-report/prettify.js
/frontend/coverage/lcov-report/sort-arrow-sprite.png
/frontend/coverage/lcov-report/sorter.js
/frontend/coverage/scripts/index.html
/frontend/coverage/scripts/update-icons.cjs.html
/frontend/coverage/src/k8s/resources/configmaps/ConfigMapsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/configmaps/index.html
/frontend/coverage/src/k8s/resources/cronjobs/CronJobsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/cronjobs/index.html
/frontend/coverage/src/k8s/resources/daemonsets/DaemonSetsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/daemonsets/index.html
/frontend/coverage/src/k8s/resources/deployments/DeploymentsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/deployments/index.html
/frontend/coverage/src/k8s/resources/ingresses/index.html
/frontend/coverage/src/k8s/resources/ingresses/IngressesOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/jobs/index.html
/frontend/coverage/src/k8s/resources/jobs/JobsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/persistentvolumeclaims/index.html
/frontend/coverage/src/k8s/resources/persistentvolumeclaims/PersistentVolumeClaimsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/persistentvolumes/index.html
/frontend/coverage/src/k8s/resources/persistentvolumes/PersistentVolumesOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/pods/index.html
/frontend/coverage/src/k8s/resources/pods/PodEventsTab.jsx.html
/frontend/coverage/src/k8s/resources/pods/PodMountsTab.jsx.html
/frontend/coverage/src/k8s/resources/pods/PodOverviewEntry.jsx.html
/frontend/coverage/src/k8s/resources/pods/PodOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/pods/PodSummaryTab.jsx.html
/frontend/coverage/src/k8s/resources/pods/PodYamlTab.jsx.html
/frontend/coverage/src/k8s/resources/pods/PortForwardDialog.jsx.html
/frontend/coverage/src/k8s/resources/pods/PortForwardOutput.jsx.html
/frontend/coverage/src/k8s/resources/replicasets/index.html
/frontend/coverage/src/k8s/resources/replicasets/ReplicaSetsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/secrets/index.html
/frontend/coverage/src/k8s/resources/secrets/SecretsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/statefulsets/index.html
/frontend/coverage/src/k8s/resources/statefulsets/StatefulSetsOverviewTable.jsx.html
/frontend/coverage/src/k8s/resources/index.html
/frontend/coverage/src/k8s/resources/kubeApi.js.html
/frontend/coverage/src/layout/bottompanel/BottomPanel.jsx.html
/frontend/coverage/src/layout/bottompanel/ConsoleTab.jsx.html
/frontend/coverage/src/layout/bottompanel/index.html
/frontend/coverage/src/layout/bottompanel/LogViewerTab.jsx.html
/frontend/coverage/src/layout/bottompanel/SummaryTabHeader.jsx.html
/frontend/coverage/src/layout/bottompanel/TerminalTab.jsx.html
/frontend/coverage/src/layout/bottompanel/YamlTab.jsx.html
/frontend/coverage/src/layout/connection/ConnectionWizard.jsx.html
/frontend/coverage/src/layout/connection/index.html
/frontend/coverage/src/layout/overview/index.html
/frontend/coverage/src/layout/overview/OverviewTableWithPanel.jsx.html
/frontend/coverage/src/layout/AppContainer.jsx.html
/frontend/coverage/src/layout/AppLayout.jsx.html
/frontend/coverage/src/layout/FooterBar.jsx.html
/frontend/coverage/src/layout/index.html
/frontend/coverage/src/layout/SidebarSections.jsx.html
/frontend/coverage/src/state/ClusterStateContext.jsx.html
/frontend/coverage/src/state/index.html
/frontend/coverage/src/state/ResourceCountsContext.jsx.html
/frontend/coverage/src/utils/index.html
/frontend/coverage/src/utils/persistence.js.html
/frontend/coverage/src/AppContainer.jsx.html
/frontend/coverage/src/CreateManifestOverlay.jsx.html
/frontend/coverage/src/Dropdowns.jsx.html
/frontend/coverage/src/index.html
/frontend/coverage/src/LabelsInline.jsx.html
/frontend/coverage/src/main.js.html
/frontend/coverage/src/main-content.js.html
/frontend/coverage/src/notification.js.html
/frontend/coverage/src/QuickInfoSection.jsx.html
/frontend/coverage/src/resource-overlay.js.html
/frontend/coverage/wailsjs/go/main/App.js.html
/frontend/coverage/wailsjs/go/main/index.html
/frontend/coverage/wailsjs/go/index.html
/frontend/coverage/wailsjs/go/models.ts.html
/frontend/coverage/wailsjs/runtime/index.html
/frontend/coverage/wailsjs/runtime/runtime.js.html
/frontend/coverage/base.css
/frontend/coverage/block-navigation.js
/frontend/coverage/favicon.png
/frontend/coverage/index.html
/frontend/coverage/lcov.info
/frontend/coverage/prettify.css
/frontend/coverage/prettify.js
/frontend/coverage/sort-arrow-sprite.png
/frontend/coverage/sorter.js
